@use 'base/mixins' as m;
@use 'base/variables' as v;

.portada {

    &__heading {
        text-align: center;
        text-transform: uppercase;
    }

    &__grid {
        margin-top: 5rem;

        @include m.tablet {
            display: grid;
            grid-template-columns: 3fr 1fr;
            column-gap: 3rem;
        }
    }
}